<div class="container">

  <div class="heading"><h1>Tooltip Demo</h1></div>

  <div class="inner-container">
    <div class="heading"><h2>Example 1</h2></div> 
    <div ng-include="'partials/tooltip/example1.html'"></div>
    <div hljs hljs-include="'partials/tooltip/example1.html'"></div>
  </div>

  <div class="inner-container">
    <div class="heading"><h2>Example 2</h2></div>
    <div ng-include="'partials/tooltip/example2.html'"></div>
    <div hljs hljs-include="'partials/tooltip/example2.html'"></div>
  </div>

  <div class="inner-container">
    <div class="heading"><h2>Example 3</h2></div>
    <div ng-include="'partials/tooltip/example3.html'"></div>
    <div hljs hljs-include="'partials/tooltip/example3.html'"></div>
  </div>

  <div class="inner-container">
    <div class="heading"><h2>Tooltip Demo Controller</h2></div>
    <div hljs hljs-include="'scripts/TooltipController.js'"></div>
    <div class="binding-display">tooltipCtrl = {{tooltipCtrl|json}}</div>
  </div>
</div>