<button ng-click="focusOnCtrl.jumpToInput()">
  Focus on the input
</button>

<button ng-click="focusOnCtrl.jumpToSpan()">
  Focus on the span
</button>

<div ng-repeat="thing in focusOnCtrl.things">
  {{thing}} Testing
</div>

<div  focus-on="someElementFocus"
      focus-on-auto-center="true">
  A place to jump to
</div>

<input  type="text"
        focus-on="someInputFocus" />

<span focus-on="somethingElse">
  Something else to focus on
</span>

<div ng-repeat="thing in focusOnCtrl.things|limitTo:40">
  {{thing}} This is some stuff
</div>